{% extends 'base.html.twig' %}

{% block title %}Calendar{% endblock %}

{% block stylesheets %}

    <style>
        #calendar{
            width: 50%;
            margin: auto;
        }



    </style>

{% endblock %}

{% block body %}

    <div id="calendar">
    </div>

{% endblock %}

{% block javascripts %}

<script>
    window.onload = () => {
        let calendarElt = document.querySelector("#calendar")

        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'dayGridMonth',
            locale: 'eng',
            timeZone: 'Europe/Sofia',
            customButtons: {
                myCustomButton: {
                    text: 'add new event',
                    click: function () {
                        window.open('calendar/new',"_self")
                    }
                },
                myCustomButton2: {
                    text: 'my list',
                    click: function () {
                        window.open('calendar', "_self")
                    }
                }
            },
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek,myCustomButton,myCustomButton2'
            },
            events: {{ data|raw }},
            editable: true,
            eventResizableFromStart: true

        })

        calendar.on('eventChange', (e) => {
            let url = `/api/${e.event.id}/edit`
            let data = {
                "title": e.event.title,
                "email": e.event.extendedProps.email,
                "start": e.event.start,
                "end": e.event.end,
                "phone": e.event.phone,
                "backgroundColor": e.event.backgroundColor,
                "borderColor": e.event.borderColor,
                "textColor": e.event.textColor
            }

            let xhr = new XMLHttpRequest()

            xhr.open("PUT", url)
            xhr.send(JSON.stringify(data))
        })

        calendar.render()
    }
</script>

{% endblock %}
