<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css"
              integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA="
              crossorigin="anonymous">

        {% block stylesheets %}{% endblock %}


    </head>
    <body>
        {% block body %}{% endblock %}

        <script
                src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"
                integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg="
                crossorigin="anonymous">
        </script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
